<center><h1>UGA <p> 
          L3 Informatique <p> Mod&egrave;les de Calcul - Machines de Turing  </h1></center> <p><p>


Pour toutes question n'hésitez pas à me contacter par mail : <a
    href="mailto:Xavier.Nicollin@univ-grenoble-alpes.fr">Xavier.Nicollin@univ-grenoble-alpes.fr</a><p><p>

<hr>

  <li> <h2> Projet </h2> <p> 
        <ul>
	   <li> <a href="a_definir.html">Lien du projet à définir</a> </li>	
           <li> Si vous choisissez le projet Machine de Turing envoyez moi un
               mail avec la composition du binôme à <a
                   href="mailto:Xavier.Nicollin@univ-grenoble-alpes.fr">Xavier.Nicollin@univ-grenoble-alpes.fr</a>
               avant le XX/YY/2022. Une moitié des binômes fera le projet en Machine de Turing et l'autre en lambda-calcul. L'algorithme de répartition sera dans l'ordre: 
               <ol>
                    <li>Choix personnel. </li>
                    <li>Premier arrivé, premier servi (si l'équilibre entre MT et lambda-calcul n'est pas correct).</li>
               </ol> 
  
            <li> <a href="liste_inscrits_projet.txt">Liste des binômes inscrits</a></li>
            <li> <a href="soutenances_projet.html">Planning des soutenances</a></li>
     </ul>


  <li> <h2>Transparents de Cours </h2> <p>
       <ul>    
            <li><a href="Cours_MC_MTuring.pdf">Transparents du cours</a> </li> 
       </ul> 
  </li>

   <li> <h2>Notes de Cours </h2> <p>
        <ul>  
          <li> <a href="Notes_de_Cours.pdf">Notes de Cours</a></li>
        </ul>
   </li>
  
  <li><h2>Fiches d'exercice de TD</h2>
       <ul>
          <li><a href="MT_1.pdf">Fiche de TD 1, machines de Turing - Programmation</a></li>
          <li><a href="MT_2.pdf">Fiche de TD 2, mod&egrave;les de calcul - &eacute;quivalences</a></li>
          <li><a href="MT_3.pdf">Fiche de TD 3, Calculabilité</a></li>
          <li><a href="MT_4.pdf">Fiche de TD 4, Enumérabilité Récursive</a></li>
       </ul>
  </li>
 
 <li><h2>Annales années précédentes</h2>
     <ul> 
        <li><a href="CC1_14_2_2020.pdf">Quick Février 2020</a></li>
     </ul>

  </li>
  <li><h2>Bibliographie et ressources p&eacute;dagogiques diverses</h2>
      <ul> <li>"Theory of Recursive Functions and Effective Computability" (MIT Press) – 1987, 
               Hartley Rogers. Livre tr&egrave;s complet et th&eacute;orique, plus &agrave; voir comme 
               r&eacute;f&eacute;rence que pour l'initiation et les intuitions.</li>
           <li> "The Language of Machines: An Introduction to Computability and Formal Languages" (W.H.Freeman & Co Ltd ) – 1993, 
                Robert W. Floyd et Richard Beigel, chapitres 1, 2, 3, 7 et 8. Plus accessible que le Rogers mais moins formel. </li>
           <li>"Introduction to the Theory of Computation" (PWS publishing Company) - 1997, M. Sipser. Deuxi&egrave;me partie, 
                plus accessible que le Rogers &eacute;galement (mais moins formel). </li>

           <li>"Langages formels Calculabilit&eacute; et complexit&eacute;" (Vuibert) - 2014, Olivier Carton et Dominique Perrin. 
                La r&eacute;f&eacuterence en francais, moins complet que les autres (notamment moins sur la th&eacute;orie de la r&eacute;cursivit&eacute;.</li>
             <li> <a href="https://www.cambridge.org/core/books/algorithmic-information-theory/66D88D412DE158C21D392E2EF3112CC1">Algorithmic Information Theory</a> (Cambridge University Press) - 1987, La base de la complexit&eacute; bas&eacute;e sur la taille minimale d'un programme pour produire un r&eacute;sultat particulier.</li>

     </ul>
  </li>   
</ul>
